.table-head {
  display: grid;

  &__item {
    font-size: 25px;
    font-weight: bold;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #f5f0f4;
    background-color: #6b5c5c;
    border: 1px solid lighten(#6b5c5c, 10%);
    user-select: none;
  }
}
