@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  --primary-color: #9eb23b;
  --secondary-color: #c7d36f;
  --third-color: #fcf9c6;
  box-sizing: border-box;
}

.body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c7d36f;
}

.container {
  height: 100vh;
  overflow: hidden;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.open {
  background-color: transparent;
}

.test__wrap {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: var(--third-color);

  justify-content: center;
}

.test__field {
  margin: 60px 0;
}

.field {
  width: 80%;
  margin: 0 auto;
}

.field__title {
  font-size: 30px;
  line-height: 1em;

  padding: 30px 40px;

  letter-spacing: 0.1em;

  color: #fff;
  border: 2px solid #e0deca;
  border-radius: 20px;
  background-color: var(--primary-color);
  /* box-shadow: 8px 8px 18px #000; */
  /* text-shadow: 3px 3px 6px #302f2f; */
}

.ansver__wrap {
  display: grid;

  width: 80%;
  margin: 0 auto;

  grid-template-columns: 1fr 1fr;
}

.ansver__item {
  font-size: 30px;
  line-height: 1em;
  width: 350px;
  height: 150px;
  position: relative;

  margin: 18px 10px;
  padding: 30px 20px 30px 70px;

  text-align: left;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 20px;
  background-color: var(--primary-color);
  transition: 0.3s;
  cursor: pointer;
  /* box-shadow: 8px 8px 18px #000; */
  /* text-shadow: 3px 3px 6px #302f2f; */
}

.ansver__item:hover {
  transform: scale(1.1);
}
.ansver__span {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  color: #eeb437;
}

.blue {
  background-color: #2846ee;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1239px) {
  .top__list {
    padding: 0;
  }

  .top__item {
    font-size: 20px;
    font-weight: bold;

    padding: 16px 0;
  }

  .content__link {
    font-size: 1.6em;
    font-weight: bold;
  }

  .field__title {
    font-size: 1.6em;
    line-height: 1.3em;

    padding: 20px 30px;
  }

  .ansver__item {
    font-size: 1.6em;
    line-height: 1.3em;

    padding: 20px 20px 30px 70px;
  }
}
